* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    ;
    font-size: 14px;
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
}

a,
a:hover {
    text-decoration: none;
}


/*header_Section Start*/

.header_Section {
    width: 100%;
    background: url(../images/header_Bg.png) center top no-repeat;
    background-size: cover;
    padding-bottom: 373px;
}

.header_Section .bg-light {
    background-color: transparent!important;
    padding: 25px 0px;
}

.header_Section .navbar-light .navbar-nav .nav-link {
    color: #32325d;
    font-size: 16px;
    font-weight: 600;
    margin-right: 25px;
}

.ml-auto,
.mx-auto {
    margin-left: auto!important;
    margin-right: 90px;
}

.header_Section .navbar-light .navbar-nav .active>.nav-link {
    color: #32325d;
}

.header_Section .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(132, 92, 255);
    transition: 1s;
}

.nav_btn {
    padding-top: 5px;
}

.navbar-collapse .navbar-nav .nav-item .btn-info {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border-radius: 2px;
    padding: 3px 16px;
    background-color: #845cff;
    border-color: #845cff;
    box-shadow: -6.691px 7.431px 20px 0px rgba(111, 54, 255, 0.2);
}

.navbar-collapse .navbar-nav .nav-item .btn-info :hover {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border-radius: 2px;
    padding: 3px 16px;
    background-color: #845cff;
    border-color: #845cff;
    box-shadow: -6.691px 7.431px 20px 0px rgba(111, 54, 255, 0.2);
    transition: 1s;
}

.navbar-collapse .navbar-nav .nav-item .btn-info:focus {
    outline: 0;
}


/*Nav section END*/


/*banner_section START*/

.banner_section {
    width: 100%;
    padding-top: 185px;
    text-align: left;
}

.banner_inner {
    width: 100%;
}

.banner_section .banner_inner h1 {
    font-size: 44px;
    color: #32325d;
    font-weight: 600;
    line-height: 54px;
}

.banner_section .banner_inner p {
    font-size: 18px;
    line-height: 28px;
    color: #525f7f;
    margin-top: 22px;
    margin-bottom: 34px;
}

.banner_btn {
    width: 100%;
}

.banner_btn .btn-info {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    border-radius: 3px;
    margin-right: 25px;
    padding: 5px 20px;
    background-color: rgb(132, 92, 255);
    border-color: #845cff;
    box-shadow: -6.691px 7.431px 20px 0px rgba(111, 54, 255, 0.2);
}

.banner_btn .btn-info:hover {
    color: #32325d;
    font-weight: 700;
    font-size: 14px;
    border-radius: 2px;
    margin-right: 25px;
    padding: 5px 20px;
    background-color: #ccccff;
    border-color: #ccccff;
    transition: 1s;
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #32325d;
    border-color: #32325d;
}

.banner_btn .btn_text {
    font-size: 15px;
    padding-top: 0px;
    font-weight: 600;
    margin-top: 8px;
    color: #32325d;
}

.banner_btn .btn_text:hover {
    font-size: 15px;
    padding-top: 0px;
    font-weight: 600;
    margin-top: 8px;
    color: #845cff;
    transition: 1s;
}

.banner_btn .btn_text i {
    margin-left: 4px;
    color: #32325d;
}

.banner_btn .btn_text:hover i {
    margin-left: 4px;
    color: #845cff;
    transition: 1s;
}


/*banner botom start*/

.banner_bottom {
    width: 100%;
}

.banner_bottom .bannerbottom_main {}

.banner_bottom .bannerbottom_main .bannerbottom_left {
    margin-top: -130px;
}

.banner_bottom .bannerbottom_main .bannerbottom_left h3 {
    font-size: 34px;
    font-weight: 300;
    line-height: 49px;
    color: #32325d;
}

.banner_bottom .bannerbottom_main .bannerbottom_left p {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 12px;
    color: #525f7f;
}

.banner_bottom .bannerbottom_main .bannerbottom_right {
    border: 0px;
    border-radius: 10px;
    margin-top: -277px;
    padding-bottom: 40px;
    margin-right: 62px;
    padding-left: 40px;
    margin-left: 73px;
    background: #fff;
    border-bottom: 5px solid #f8f8fe;
    border-left: 5px solid #f8f8fe;
}

.banner_bottom .bannerbottom_main .bannerbottom_right img {
    padding-top: 48px;
    padding-bottom: 20px;
    width: 30%;
}

.banner_bottom .bannerbottom_main .bannerbottom_right h4 {
    font-size: 24px;
    font-weight: 300;
    line-height: 49px;
    color: #32325d;
}

.banner_bottom .bannerbottom_main .bannerbottom_right p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #525f7f;
}

.bannerbottom_main1 {
    width: 100%;
    padding-top: 80px;
}

.bannerbottom_main1 .bannerbottom1_left {
    border: 0px;
    border-radius: 10px;
    padding-bottom: 40px;
    margin-right: 62px;
    padding-left: 40px;
    background: #fff;
    border-bottom: 5px solid #f8f8fe;
    border-left: 5px solid #f8f8fe;
}

.bannerbottom_main1 .bannerbottom1_left img {
    padding-bottom: 20px;
    width: 20%;
}

.bannerbottom_main1 .bannerbottom1_left h4 {
    font-size: 24px;
    font-weight: 300;
    line-height: 49px;
    color: #32325d;
}

.bannerbottom_main1 .bannerbottom1_left p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #525f7f;
}

.bannerbottom_main1 .bannerbottom1_right {
    border: 0px;
    border-radius: 10px;
    padding-bottom: 58px;
    margin-right: 62px;
    padding-left: 40px;
    margin-left: 73px;
    background: #fff;
    border-bottom: 5px solid #f8f8fe;
    border-left: 5px solid #f8f8fe;
}

.bannerbottom_main1 .bannerbottom1_right img {
    padding-bottom: 20px;
    width: 20%;
}

.bannerbottom_main1 .bannerbottom1_right h4 {
    font-size: 24px;
    font-weight: 300;
    line-height: 49px;
    color: #32325d;
}

.bannerbottom_main1 .bannerbottom1_right p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #525f7f;
}


/*banner section end*/


/*service_Section start*/

.service_Section {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 350px;
}

.service_Section .service_inner {
    text-align: center;
}

.service_Section .service_inner h1 {
    font-size: 34px;
    font-weight: 300;
    line-height: 49px;
    color: #32325d;
}

.service_Section .service_inner p {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 12px;
    color: #525f7f;
}

.service_images1 {
    padding-top: 80px;
    text-align: center;
}

.service_images1 .service_image img {
    width: 25%;
}

.service_images1 .service_image img {}

.service_images1 .service_image h4 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 30px;
    color: #32325d;
}

.service_images1 .service_image p {
    font-size: 13px;
    padding-top: 4px;
    font-weight: 300;
    line-height: 20px;
    color: #525f7f;
}

.service_images2 {
    padding-top: 90px;
    text-align: center;
}

.service_images2 .service_image2 img {
    width: 25%;
}

.service_images2 .service_image2 img {}

.service_images2 .service_image2 h4 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 30px;
    color: #32325d;
}

.service_images2 .service_image2 p {
    font-size: 13px;
    padding-top: 4px;
    font-weight: 300;
    line-height: 20px;
    color: #525f7f;
}

.service_images3 {
    padding-top: 90px;
    text-align: center;
}

.service_images3 .service_image3 img {
    width: 25%;
}

.service_images3 .service_image3 img {}

.service_images3 .service_image3 h4 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 30px;
    color: #32325d;
}

.service_images3 .service_image3 p {
    font-size: 13px;
    padding-top: 4px;
    font-weight: 300;
    line-height: 20px;
    color: #525f7f;
}


/*service_Section end*/


/*safety_section start*/

.safety_section {
    width: 100%;
}

.safety_section .safety_main {}

.safety_section .safety_main .safety_head {}

.safety_section .safety_main .safety_head h1 {
    font-size: 34px;
    font-weight: 300;
    line-height: 49px;
    color: #32325d;
}

.safety_section .safety_main .safety_body {}

.safety_section .safety_main .safety_body p {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 12px;
    color: #525f7f;
}

.safety_section .safety_main .safety_inner {
    padding-top: 10px;
}

.safety_section .safety_main .safety_inner .safety-txt1 {
    padding-bottom: 30px;
}

.safety_section .safety_main .safety_inner .safety-txt1 h6 {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 12px;
    color: #525f7f;
}

.safety_section .safety_main .safety_inner .safety-txt1 p {
    font-size: 13px;
    padding-top: 4px;
    font-weight: 300;
    line-height: 20px;
    color: #525f7f;
}

.safety_section .safety_main .safety_inner .safety-txt2 {
    padding-bottom: 20px;
}

.safety_section .safety_main .safety_inner .safety-txt2 h6 {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 12px;
    color: #525f7f;
}

.safety_section .safety_main .safety_inner .safety-txt2 p {
    font-size: 13px;
    padding-top: 4px;
    font-weight: 300;
    line-height: 20px;
    color: #525f7f;
}

.safety_img1 {}

.safety_img1 img {
    width: 95%;
}

.safety_section2 {
    width: 100%;
    padding-top: 200px;
}

.safety_section2 .safety_main2 {
    padding-top: 60px;
}

.safety_img2 {}

.safety_img2 img {
    width: 95%;
}

.safety_section2 .safety_main2 .safety_head2 {}

.safety_section2 .safety_main2 .safety_head2 h1 {
    font-size: 34px;
    font-weight: 300;
    line-height: 49px;
    color: #32325d;
}

.safety_section2 .safety_main2 .safety_body2 {}

.safety_section2 .safety_main2 .safety_body2 p {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 12px;
    color: #525f7f;
}

.safety_section2 .safety_main2 .safety_inner2 {
    padding-top: 10px;
}

.safety_section2 .safety_main2 .safety_inner2 .safety-txt2 {
    padding-bottom: 30px;
}

.safety_section2 .safety_main2 .safety_inner2 .safety-txt2 h6 {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 12px;
    color: #525f7f;
}

.safety_section2 .safety_main2 .safety_inner2 .safety-txt2 p {
    font-size: 13px;
    padding-top: 4px;
    font-weight: 300;
    line-height: 20px;
    color: #525f7f;
}

.safety_section2 .safety_main2 .safety_inner2 .safety-txt3 {
    padding-bottom: 20px;
}

.safety_section .safety_main .safety_inner .safety-txt3 h6 {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 12px;
    color: #525f7f;
}

.safety_section .safety_main .safety_inner .safety-txt3 p {
    font-size: 13px;
    padding-top: 4px;
    font-weight: 300;
    line-height: 20px;
    color: #525f7f;
}


/*safety section END*/


/*finances_section start*/

.finances_section {
    width: 100%;
    padding-top: 150px;
}

.finances_section .finances_main {}

.finances_section .finances_main .finances_inner {}

.finances_section .finances_main .finances_inner h2 {
    font-size: 34px;
    font-weight: 300;
    line-height: 49px;
    color: #32325d;
}

.finances_section .finances_main .finances_inner h6 {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 12px;
    color: #525f7f;
}

.finances_section .finances_main .finances_inner h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding-top: 101px;
    color: #525f7f;
    padding-bottom: 35px;
}

.finances_section .finances_main .finances_inner p {
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    color: #525f7f;
}

.finances_section .finances_main .finances_inner img {
    margin-right: 16px;
}

.finances_image {}

.finances_image img {
    margin-left: 94px;
    width: 120%;
}


/**/

.finances_section .finances_main2 {}

.finances_section .finances_main2 .finances_inner2 {}

.finances_section .finances_main2 .finances_inner2 h2 {
    font-size: 34px;
    font-weight: 300;
    line-height: 49px;
    color: #32325d;
}

.finances_section .finances_main2 .finances_inner2 h6 {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 12px;
    color: #525f7f;
}

.finances_section .finances_main2 .finances_inner2 h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding-top: 90px;
    color: #525f7f;
    padding-bottom: 35px;
}

.finances_section .finances_main2 .finances_inner2 p {
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    color: #525f7f;
}

.finances_section .finances_main2 .finances_inner2 img {
    margin-right: 16px;
}


/*finances_section end*/


/*content_Section start*/

.content_Section {
    width: 100%;
    padding-top: 250px;
    padding-bottom: 70px;
}

.content_Section .content_left {}

.content_Section .content_left img {}

.content_Section .content_left h1 {
    font-size: 35px;
    font-weight: 300;
    line-height: 49px;
    padding-top: 20px;
    color: #32325d;
}

.content_Section .content_left p {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 12px;
    color: #525f7f;
}

.search_btn {
    padding-top: 46px;
}

.newsletter {
    width: 84%;
    font-size: 16px;
    position: relative;
}

.newsletter .input {
    width: 95%;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    padding: 18px 34px;
    color: #8081ab;
    box-shadow: -6.691px 7.431px 20px 0px rgba(111, 54, 255, 0.2);
    background-color: rgb(255, 255, 255);
}

.newsletter .input:focus {
    outline: 0;
}

.newsletter .btn {
    position: absolute;
    top: 50%;
    font-size: 17px;
    transform: translateY(-50%);
    right: 6px;
    background: #fff;
    padding: 18px 37px;
    border-radius: 0px solid #fff;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #845cff;
    cursor: pointer;
    text-transform: uppercase;
}


/*content_Section end*/


/*footer_bottom start*/

.footer_bottom {
    width: 100%;
    background: #212240;
}

.footer_bottom .fbottom_main {
    padding-top: 110px;
}

.footer_bottom .fbottom_main .fbottomleft {}

.footer_bottom .fbottom_main .fbottomleft img {}

.footer_bottom .fbottom_main .fbottomleft .foo_txt {
    padding-top: 40px;
    padding-bottom: 30px;
}

.footer_bottom .fbottom_main .fbottomleft .foo_txt p {
    font-size: 14px;
    line-height: 14px;
    color: #d3d3d9;
}

.footer_bottom .fbottom_main .fbottomleft h6 {
    font-size: 14px;
    line-height: 14px;
    color: #d3d3d9;
}

.footer_bottom .fbottom_main .fbottomleft .foot_social {
    width: 100%;
    padding-top: 30px;
}

.footer_bottom .fbottom_main .fbottomleft .foot_social ul {}

.footer_bottom .fbottom_main .fbottomleft .foot_social ul li {
    list-style: none;
    display: inline-block;
}

.footer_bottom .fbottom_main .fbottomleft .foot_social ul li a {}

.footer_bottom .fbottom_main .fbottomleft .foot_social ul li a i {
    width: 35px;
    color: #555377;
    font-size: 18px;
}

.footer_bottom .fbottom_main .fbottomleft .foot_social ul li a i:hover {
    width: 35px;
    color: #d3d3d9;
    font-size: 18px;
    transition: 1s;
}

.foot_menu {
    margin-left: 90px;
}

.foot_menu a {
    color: #d3d3d9;
    font-size: 13px;
}

.foot_menu a:hover {
    color: #555377;
    font-size: 13px;
    transition: 1s;
}


/*footer_bottom end*/

.leastfooter {
    width: 100%;
    background: #212240;
    padding-top: 100px;
    padding-bottom: 50px;
}

.leastfooter .last_left {}

.leastfooter .last_left p {
    font-size: 14px;
    line-height: 14px;
    color: #555377;
}

.leastfooter .last_right {
    text-align: right;
}

.leastfooter .last_right ul {}

.leastfooter .last_right ul li {
    list-style: none;
    display: inline-block;
    font-size: 14px;
    color: #555377;
    margin-left: 5px;
}

.leastfooter .last_right ul li a {
    color: #555377;
    margin-right: 22px;
}

.leastfooter .last_right ul li a:hover {
    color: #d3d3d9;
    margin-right: 22px;
    transition: 1s;
}